<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Chat</title>
</head>
<body style="background-color:grey;text-align:center">
    <h1>Welcome</h1> <br><br>
    <input type="text" name="chat" id="">
    <button>send</button>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        $(document).ready(()=>{
            alert("hagga");
        });
    </script>

</body>
</html>
