<!DOCTYPE html>
<html>
<head>
	<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 80%;
}

.parallax {
    /* The image used */
    background-image: url('/images/chat.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>

<div class="parallax" style="height: 500px;padding-top:80px;padding-left: 60px;font-weight: bold; font-size: 60px; color: white;">
	<span style="background-color: #5cb0ed;border-radius: 20px; padding: 15px;">Welcome to your </span><br>
	                <img src="../../images/chat.png" style="margin-left:  450px;"><br>
	            <span style="background-color: #5cb0ed;border-radius: 20px; padding: 15px;margin-left: 900px;">center!!!<span></div>
<div class="parallax" style="height: 1000px">
	<div style="padding: 20px;margin-left:90px;margin-right: 120px; border-radius: 5px;border: 15px groove black ;font-size: 30px; background-color: grey;">
Here comes your chat....
<br><br><br>
->yo!!!
</div>
</div>



<div class="parallax"></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
        $(document).ready(()=>{

            localStorage.setItem('token',"<%=token%>");


            var socket = io.connect(window.location.href);

            $("#chat").on("keypress",()=>{
                socket.emit("typing","<%=name%>")
            })


            $("#sb").on("click",()=>{
                socket.emit("chat",{
                    chat:$("#chat").val(),
                    handle:"<%=name%>"
                });
            });


            //server return
            socket.on("typing",(data)=>{
                $("#typing").html(data);
            });

            socket.on("chat",(data)=>{
                $("#typing").html('');
                $("#c").append("<p> <b> "+data.handle+" </b> <br>" + data.chat + "</p> <br><br>");
            });


        })
    </script>

</body>
</html>
