<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Chat</title>
</head>
<body style="background-color:grey;text-align:center">
    <h1>Welcome</h1> <br><br>
    <input type="text" name="chat" id="chat">
    <button id="sb">send</button>
    <div id="typing"></div>
    <div id="c"></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
        $(document).ready(()=>{

            localStorage.setItem('token',"<%=token%>");


            var socket = io.connect(window.location.href);

            $("#chat").on("keypress",()=>{
                socket.emit("typing","<%=name%>")
            })


            $("#sb").on("click",()=>{
                socket.emit("chat",{
                    chat:$("#chat").val(),
                    handle:"<%=name%>"
                });
            });


            //server return
            socket.on("typing",(data)=>{
                $("#typing").html(data);
            });

            socket.on("chat",(data)=>{
                $("#typing").html('');
                $("#c").append("<p> <b> "+data.handle+" </b> <br>" + data.chat + "</p> <br><br>");
            });


        })
    </script>

</body>
</html>
