<!DOCTYPE html>
<html>
<head>
	<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 80%;
}

</style>
</head>
<body>
<div class="parallax" style="height: 500%;background-color:orange;padding-top:80px;padding-left: 60px;font-weight: bold; font-size: 60px; color: white;">
	<a style="font-size:18px" href="/auth/logout">Logout</a>
<br>
<center>	<span style="background-color: #5cb0ed;border-radius: 20px; padding: 15px;">Welcome to your chat center </span></center><br>

	<div id="typing"></div>

	<center><input type="text" name="input" id="chat" placeholder="type here"></center>
	<center><button style="height:25px" class="btn btn-default" id="sb">Submit</button></center>
	<br>

	<!-- <div style="padding: 20px;margin-left:90px;margin-right: 120px; border-radius: 5px;border: 15px groove black ;font-size: 30px; background-color: grey;height:250px"> -->
<div id="c"></div>

</div>

<div class="parallax"></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
        $(document).ready(()=>{

            localStorage.setItem('token',"<%=token%>");


            var socket = io.connect(window.location.href);

            $("#chat").on("keypress",()=>{
                socket.emit("typing","<%=name%>")
            })


            $("#sb").on("click",()=>{
                socket.emit("chat",{
                    chat:$("#chat").val(),
                    handle:"<%=name%>"
                });
            });


            //server return
            socket.on("typing",(data)=>{
                $("#typing").html("<h3 style='font-size:18px'>"+data+" is typing....</h3>");
            });

            socket.on("chat",(data)=>{
                $("#typing").html('');
                $("#c").append('<div style="padding: 20px;margin-left:90px;margin-right: 120px; border-radius: 5px;border: 15px groove black ;font-size: 30px; background-color: grey;height:100px">'+  "<p> <b> "+data.handle+" </b> <br>" + data.chat + "</p> <br><br>"+'</div>');
            });


        })
    </script>

</body>
</html>
